<form
[formGroup]="weatherSearchForm"
(ngSubmit)="Submit(weatherSearchForm.value)"
>

<div class="container row">
  <div class="col-sm-4 container p-3 my-3 bg-primary text-white">
    <select formControlName="location" class="form-control">
      <option value=''>Weather City</option>
      <option>Tel Aviv</option>
      <option>London</option>
      <option>New York</option>
      <option>Paris</option>
      <option>Madrid</option>
    </select>
  </div>

  <div class="col-sm-8 container p-3 my-3 bg-primary text-white">
    <button type="submit" class="btn btn-success btn-md">
      Submit
    </button>
  </div>
</div>
  
</form>


<router-outlet></router-outlet>